// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

#sidebar
{
  text-transform: uppercase;
  color: $inverted-fg;
  // Sidebar basics
  background-color: $inverted-bg;
  font-size: $font-size-md;
  font-weight: 400;
  line-height: 100%;

  ul,
  li
  {
    margin: 0;
    padding: 0;
    text-align: inherit;
  }

  li::before
  {
    @extend .unstyle-list;
  }

  // #sidebar-brank blocks
  // #sidebar-logo is visible on desktop
  // #sidebar-open, #sidebar-close, and #sidebar-tittle are visible on mobile

  #sidebar-brand
  {
    height: $lg;
    line-height: $lg;
  }

  #sidebar-logo
  {
    display: block;
    padding: 0 $md;
    text-align: inherit;
    background-color: $accent;

    img
    {
      width: $md;
      height: $md;
      vertical-align: middle;
    }
  }

  #sidebar-open,
  #sidebar-close,
  .site-title
  {
    display: none;
  }

  #sidebar-close img
  {
    width: 20px;
    height: 20px;
  }

  #sidebar-open img
  {
    width: 36px;
    height: 18px;
  }
}

#sidebar-menus
{
  a,
  a%active
  {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}

// Positioning the sidebar on desktop
@media(min-width: $sidebar-breakpoint-x)
{
  // since the primary navigation collapses only when javascript is enabled
  // we must position this absolute by default so that it can scroll
  #sidebar
  {
    position: absolute;
    top: 0;
    width: $sidebar-width;
  }

  // fix sidebar and set 100% height when javascript is enabled
  .js #sidebar
  {
    position: fixed;
    z-index: 2;
    height: 100%;
  }

  // align text opposite ltr and rtl
  html[dir="ltr"] #sidebar
  {
    left: 0;
    text-align: right;
  }

  html[dir="rtl"] #sidebar
  {
    right: 0;
    text-align: left;
  }
}

// Positioning the sidebar on tablet/mobile
@media(max-width: $sidebar-breakpoint-x - 1)
{
  // sidebar appears below content by default on mobile (like a footer)
  // when javascript is enabled, fix the sidebar (navbar with toggle menu) top

 #sidebar
 {
   margin-top: -$mobile-sidebar-height;
 }

  .js #sidebar
  {
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 0;
    overflow: hidden;
    width: 100%;
    // when closed, show the top of the sidebar (just the navbar)
    height: $lg;
  }

  html:not(.open-sidebar).mobile #sidebar
  {
    position: fixed;
    transition: transform 0.2s ease-in-out;
  }

  html:not(.open-sidebar).mobile.scrollDown #sidebar
  {
    transform: translate(0,-$header-height);
  }

  #sidebar-menus
  {
    margin-top: 30px;
  }

  .js #sidebar-menus
  {
    margin-top: 0;
  }

  // when opened, show the rest
  .js.open-sidebar #sidebar
  {
    height: 100%;
    position: fixed;
  }

  // align text opposite of desktop on mobile ltr and rtl

  html[dir="ltr"].js #sidebar
  {
    text-align: left;
  }

  html[dir="rtl"].js #sidebar
  {
    text-align: right;
  }

  .js #sidebar
  {
    // show sidebar navbar title and open button by default
    #sidebar-open
    {
      display: block;
    }
  }

   // Toggle open/close buttons
  .js.open-sidebar #sidebar
  {
      #sidebar-open
      {
        display: none;
      }
      #sidebar-close
      {
        display: block;
      }
  }

  #sidebar
  {
    .site-title
    {
      display: block;
    }

    #sidebar-brand
    {
      background-color: $inverted-fg;
    }

    #sidebar-open,
    #sidebar-close,
    #sidebar-logo,
    .site-title
    {
      padding: 0 $sm;
    }

    #sidebar-open,
    #sidebar-close,
    .site-title
    {
      height: $lg;
      line-height: $lg;
    }

    #sidebar-open,
    #sidebar-close
    {
      width: $lg;
      min-width: $lg;
      margin: 0;
      color: $inverted-fg;
      border: none;
      background-color: $inverted-bg;
      font-size: $md;
    }
  }

  // align blocks left/right ltr/rtl in navbar

  html[dir="ltr"] #sidebar-open,
  html[dir="ltr"] #sidebar-close,
  html[dir="ltr"] #sidebar-logo,
  html[dir="ltr"] #sidebar .site-title
  {
    float: left;
  }

  html[dir="rtl"] #sidebar-open,
  html[dir="rtl"] #sidebar-close,
  html[dir="rtl"] #sidebar-logo,
  html[dir="rtl"] #sidebar .site-title
  {
    float: right;
  }
}

// Primary navigation //////////////////////////////////////////////////////////

#primary-navigation
{
  li
  {
    position: relative;
  }

  ul ul li
  {
    color: $accent;
    font-size: $font-size-sm;
  }

  .active > a
  {
    font-weight: 700;
  }

  a%active
  {
    color: $accent;
  }

  ul ul a%active
  {
    color: #6f9432;
  }

}

.js #primary-navigation ul ul
{
  display: none;
}

.js #primary-navigation ul .active ul
{
  display: block;
}

@media(min-width: $sidebar-breakpoint-x)
{
  // Apply arrow background
  #primary-navigation
  {
    margin-top: $lg;

    em
    {
      font-style: normal;
      font-size: 11px;
    }

    & > ul > li > a
    {
      padding: $xs $md;
    }

    & > ul > li > ul > li > a
    {
      padding: $xs / 2 $md;
    }

    & > ul > li.has-submenu > a
    {
      background-image: url("/img/png/icon-arrow-down.png");
      background-repeat: no-repeat;
      background-position: right $sm - $xs / 2 center;
      background-size: 8px 4px;
    }

    // Flip arrow when active
    & > ul > li.active.has-submenu > a
    {
      background-image: url("/img/png/icon-arrow-up.png");
    }

    ul ul
    {
      margin: $xs 0 0 0;
    }

    ul ul
    {
      margin: 0 0 $xs 0;
    }
  }

  // align arrow opposite rtl
  html[dir="rtl"] #primary-navigation > ul > li > a
  {
    background-position: left $sm - $xs / 2 center;
  }
}

@media(max-width: $sidebar-breakpoint-x - 1)
{
  #primary-navigation
  {
    // Apply borders and negative margin to overlap borders on mobile
    & > ul > li > a
    {
      display: block;
      margin: 0;
      border-top: 1px solid $secondary-bg;
      border-bottom: 1px solid $secondary-bg;
      line-height: $md + $sm;
    }

    & > ul > li + li a
    {
      border-top: 0;
    }

    ul ul
    {
      margin: $xs + $xs / 2 0;
    }

    ul ul li
    {
      margin: 0;
    }

    ul ul li a
    {
      height: auto;
      padding-top: $xs + $xs / 2;
      padding-bottom: $xs + $xs / 2;
    }

    li > a
    {
      padding-right: $lg;
      padding-left: $lg;
    }

    & > ul > li.has-submenu > a
    {
      background-image: url("/img/png/icon-arrow-down.png");
      background-repeat: no-repeat;
      background-position: left $md - $xs / 2 center;
      background-size: 8px 4px;
    }

    & > ul > li.active.has-submenu > a
    {
      background-image: url("/img/png/icon-arrow-up.png");
    }
  }

  html[dir="rtl"] #primary-navigation & > ul > li > a
  {
    background-position: right $md - $xs / 2 center;
  }
}

// #primary-navigation /////////////////////////////////////////////////////////

#secondary-navigation
{
  display: block;
}

#contact-envelope
{
  padding: $md;
  img
  {
    height: $sm;
  }
}

.js #secondary-navigation
{
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media(max-width: $sidebar-breakpoint-x - 1)
{
  #secondary-navigation
  {
    height: 46px;
    background-color: $secondary-bg;
    line-height: 46px;

    li
    {
      width: 50%;
      float: right;
    }

    #contact-envelope
    {
      float: right;
      width: $lg;
      margin: 0;
      padding: 0;
      text-align: center;
      vertical-align: center;
      border-left: 1px solid $primary-fg;
    }
  }
  .js #secondary-navigation
  {
    display: none;
  }
  .js #sidebar.open #secondary-navigation
  {
    display: block;
  }
}
