{% if get_pages_metadata({"subparent": "committee/members/index"}) %}
<div class="bg-accent">
  <section class="center group-container">
    <h2>
      {{ "Meet the <fix>Acceptable Ads Committee</fix>" | translate("meet-the-committee", "Meet the committee section headline") }}
    </h2>
    <div class="row">
    {% for post in get_pages_metadata({"subparent": "committee/members/index"}) %}
      <article class="card col-3">
        <div class="container">
          <img
              class="block"
              src="{{ post["featured_img_url"] }}"
              alt="{{ post["featured_img_alt"] }}">
          <div class="summary">
            <h3>{{ post["name"] }}</h3>
            <p><strong>{{ post["position"] }}</strong></p>
            <p><em>{{ post["organization"] }}</em></p>
          </div>
        </div>
      </article>
    {% endfor %}
    </div>
  </section>
</div>
{% endif %}
