// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

@font-face
{
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: normal;

  src: url("/fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.eot");
  src: url("/fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.eot?#iefix") format("embedded-opentype"),
  local("Source Sans Pro Light"),
  local("Source-Sans-Pro-300"),
  url("/fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.woff2") format("woff2"),
  url("/fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.woff") format("woff"),
  url("/fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.ttf") format("truetype"),
  url("/fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.svg#SourceSansPro") format("svg");
}

@font-face
{
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;

  src: url("/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.eot");
  src: url("/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.eot?#iefix") format("embedded-opentype"),
  local("Source Sans Pro"),
  local("Source-Sans-Pro-regular"),
  url("/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff2") format("woff2"),
  url("/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff") format("woff"),
  url("/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.ttf") format("truetype"),
  url("/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.svg#SourceSansPro") format("svg");
}

@font-face
{
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-style: normal;

  src: url("/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.eot");
  src: url("/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.eot?#iefix") format("embedded-opentype"),
  local("Source Sans Pro Bold"),
  local("Source-Sans-Pro-700"),
  url("/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.woff2") format("woff2"),
  url("/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.woff") format("woff"),
  url("/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.ttf") format("truetype"),
  url("/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.svg#SourceSansPro") format("svg");
}
