// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

// Headings ////////////////////////////////////////////////////////////////////

%headings
{
  text-transform: uppercase;
  font-weight: 700;
  line-height: 120%;
}

h1,
.h1
{
  margin: $xl 0 $lg 0;
  text-transform: none;
  font-size: $font-size-h1;
  font-weight: 300;

  @media (max-width: $tablet-breakpoint)
  {
    font-size: $font-size-h1 - 12px;
    margin-top: $md;
  }
  @media (max-width: $mobile-breakpoint)
  {
    font-size: $font-size-h1 - 16px;
    margin-bottom: $lg - 20px;
  }
}

h1:not(.site-title)::after
{
  display: block;
  position: absolute;
  margin-top: 30px;
  content: "";
  height: 3px;
  width: 24px;
  border: none;
  background-color: $primary-fg;
}

h2,
.h2
{
  margin: $lg 0 $md 0;
  font-size: $font-size-h2;
  font-weight: 700;

  @media (max-width: $tablet-breakpoint)
  {
    font-size: $font-size-h2 - 4px;
    margin-top: $md;
  }
  @media (max-width: $mobile-breakpoint)
  {
    font-size: $font-size-h2 - 6px;
    margin-bottom: $sm;
  }
}

h3,
.h3
{
  margin: $lg 0 $md 0;
  font-size: $font-size-h3;
  font-weight: 700;

  @media (max-width: $tablet-breakpoint)
  {
    font-size: $font-size-h3 - 2px;
    margin-top: $md;
  }
  @media (max-width: $mobile-breakpoint)
  {
    margin-bottom: $sm;
  }
}

h4,
.h4
{
  margin: $md 0 $sm 0;
  font-size: $font-size-h4;
  font-weight: 700;

  @media (max-width: $mobile-breakpoint)
  {
    font-size: $font-size-h4 - 2px;
  }
}

h5,
.h5
{
  margin: $sm 0;
  font-size: $font-size-h5;

  @media (max-width: $mobile-breakpoint)
  {
    font-size: $font-size-h5 - 2px;
  }
}

h6,
.h6
{
  margin: $sm 0;
  font-size: $font-size-h6;
  font-weight: 400;

  @media (max-width: $mobile-breakpoint)
  {
    font-size: $font-size-h6 - 2px;
  }
}

// Main text ///////////////////////////////////////////////////////////////////

html,
body
{
  color: $primary-fg;
  // @see https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: $font-size-lg;
  font-weight: 300;
  line-height: 1.5;

  @media (max-width: $mobile-breakpoint)
  {
    font-size: $font-size-lg - 2px;
  }
}

small,
.small
{
  margin-bottom: $xs;
  font-size: 70%;
  line-height: 80%;
}

blockquote,
p,
ul,
ol,
dl,
.block
{
  margin: $sm 0;
}

// Links ///////////////////////////////////////////////////////////////////////

a
{
  cursor: pointer;
  text-decoration: underline;
  color: $accent;
  font-weight: 400;
}

a%active
{
  color: $secondary;
}

strong a
{
  font-weight: 700;
}

// Lists ///////////////////////////////////////////////////////////////////////

ol,
ul,
dl
{
  padding: 0;
}

ul li
{
  padding: 0 $md;
}

ol li,
ul li
{
  display: block;
}

li
{
  position: relative;
  margin-bottom: $xs;
}

// Ordered lists ///////////////////////////////////////////////////////////////

ol
{
  counter-reset: number;
}

ol ol
{
  counter-reset: letter;
}

ol li
{
  padding-left: 45px;
}

ol li::before
{
  display: inline-block;
  width: 45px;
  content: counter(number, decimal-leading-zero);
  counter-increment: number;
  text-align: center;
  color: $accent;
  font-weight: 700;
  position: absolute;
  left: 0;
}

ol ol li::before
{
  content: counter(letter, upper-latin);
  counter-increment: letter;
}

// Unordered lists /////////////////////////////////////////////////////////////

ul
{
  list-style-type: none;
}

ul li::before
{
  display: inline-block;
  width: $md;
  content: "-";
  text-align: center;
  font-weight: 700;
  position: absolute;
  left: 0;
}

// Unstyled lists //////////////////////////////////////////////////////////////

// Lists in an .unstyled container are unstyled
.unstyled li::before
{
  display: none;
  content: none;
}

.unstyled li
{
  padding-left: 0;
}

.unstyled li li
{
  padding-left: 45px;
}

// @extend this to unstyle list items
.unstyle-list::before
{
  display: none;
  content: none;
}

.unstyled a,
.unstyled a%active
{
  color: inherit;
}

// Definition lists ////////////////////////////////////////////////////////////

dl
{
  margin: $md 0;
}

dt
{
  margin: $sm 0;
}

dd
{
  margin: $sm 0 $md 0;
}

dt
{
  font-size: $font-size-xl;
  text-transform: uppercase;
  font-weight: 700;

  @media (max-width: $tablet-breakpoint)
  {
    font-size: $font-size-xl - 2px;
  }
}

// Blockquotes /////////////////////////////////////////////////////////////////

blockquote
{
  margin: 0;
  padding: 0 $md;
  text-transform: uppercase;
  font-size: $font-size-lg;
  font-weight: 400;
  font-style: italic;
}

html[dir="ltr"] blockquote
{
  border-left: 4px solid $info-bg;
}

html[dir="rtl"] blockquote
{
  border-right: 4px solid $info-bg;
}

html .center blockquote
{
  border: none;
}

.center blockquote
{
  @extend h2;
  margin: 0;
  padding: $lg 0;
  font-style: normal;

  @media (max-width: $tablet-breakpoint)
  {
    font-size: $font-size-h3;
    padding: $md 0;
  }
}

.center blockquote p:last-child
{
  margin-top: -$xs;
}

cite
{
  font-size: $font-size-sm;
  font-style: normal;
}

cite::before
{
  content: "-- ";
}

.center cite::before
{
  content: none;
}

// Pre / Code //////////////////////////////////////////////////////////////////

code,
kbd,
pre,
samp
{
  color: $info-fg;
  background-color: $info-bg;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

pre
{
  padding: $sm $sm + $xs;
}

code,
samp
{
  padding: $xs / 2;
}

pre > code
{
  padding: 0;
}

pre
{
  overflow: scroll;
  margin: 0;
}

// Horizontal rules ////////////////////////////////////////////////////////////

hr
{
  width: $sm + $xs;
  height: 3px;
  margin: $sm 0;
  border: none;
  // hr background color is the line color
  background-color: $primary-fg;
}

// Place hr under h1 or h2 inside hN margin
h1 + hr,
h2 + hr
{
  position: absolute;
  margin: -$md 0 $md 0;

  @media (max-width: $mobile-breakpoint)
  {
    margin-top: -$sm - 5px;
  }
}

// center hr in centered blocks
.center hr
{
  margin: $sm auto;
}

// Tables //////////////////////////////////////////////////////////////////////

// !important here because browsers will override otherwise.

table
{
  border-collapse: collapse !important;
}

table td,
table th
{
  background-color: $primary-bg;
}

table
{
  width: 100%;
  max-width: 100%;
  margin-bottom: $md;
}

table th,
table td
{
  padding: $sm;
  vertical-align: top;
}

table td
{
  border-top: 1px solid $info;
}

table thead th
{
  vertical-align: bottom;
  text-transform: uppercase;
  border-bottom: 2px solid $info;
}

table tbody + tbody
{
  border-top: 2px solid $info;
}
