// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

// display like a table (even grid)

.group-container
{
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: $xl 0;

  @media (max-width: $desktop-breakpoint)
  {
    padding: $xs;
  }
}

.group-container > %headings,
.group-container > p
{
  margin: $lg auto;
  padding: 0 $sm;
}

.group-container > p
{
  @media (max-width: $desktop-breakpoint)
  {
    margin: $md auto;
  }
}

.group
{
  display: table;
  width: 100%;
  table-layout: fixed;
}

.group-container .group
{
  margin-bottom: 0;
}

.group-container > %headings
{
  margin-top: 0;

  @media (max-width: $desktop-breakpoint)
  {
    margin: $md auto;
  }
}

.group .card,
.group .item
{
  display: table-cell;
  vertical-align: top;
}

.group.items .item::before
{
  margin-top: $sm;
  @extend h3;
  text-align: center;
  width: 45px;
}

// fix 1px border ltr and rtrl on desktop

html[dir="ltr"] .group .card + .card
{
  border-left: 0;
}

@media(max-width: $tablet-breakpoint)
{
  html[dir="ltr"] .group .card:first-child
  {
    border-left: 0;
  }
}

html[dir="rtl"] .group .card + .card
{
  border-right: 0;
}

@media(max-width: $tablet-breakpoint)
{
  html[dir="rtl"] .group .card:last-child
  {
    border-right: 0;
  }
}

// start a little lower than cards to add extra spacing on top and sides
.group.items .item
{
  position: relative;
  margin-bottom: $md;
  padding: 0 $sm;
}

.group.item-summary
{
  height: $lg;
  margin-bottom: $md;
}

@media(min-width: $tablet-breakpoint - 1)
{
  .group.item-summary
  {
    height: $xl + $sm;
  }
}

@media(min-width: $desktop-breakpoint - 1)
{
  .group.item-summary
  {
    height: $lg;
  }
}


// Position item content to the left/right of heading number

html[dir="ltr"] .group.items .item
{
  padding-left: 45px;
}

html[dir="rtl"] .group.items .item
{
  padding-right: 45px;
}

.group.items .item %headings
{
  position: relative;
  // drop heading margin to align with ::before
  margin-top: 0;
  // make extra room for hr above heading
  padding-top: $sm;

  @extend .h3;
}

// add a little extra space above buttons
.group.item %buttons
{
  margin-top: $sm;
}

// This is the hr above the heading
.group.items .item::after
{
  display: block;
  position: absolute;
  top: $xs;
  width: $sm;
  height: 0;
  content: " ";
  border-top: 2px solid $primary-fg;
}

html[dir="ltr"] .group.items .item::after
{
  left: 45px;
}

html[dir="rtl"] .group.items .item::after
{
  right: 45px;
}

// shrink argins between max-width and desktop breakpoints for 4 and 5 cards
@media(max-width: $max-width - 1)
{
  .group-5 .card,
  .group-4 .card
  {
    padding: $sm;
  }
}

@media(min-width: $sidebar-breakpoint-x)
{
  .group-5 .card
  {
    padding: $sm;
  }
}

@media(max-width: $max-width - 1)
{
  // change table grid to floating grid for 4 and 5 cards
  .group-5 .group-5
  {
    display: block;
    position: relative;
    overflow: auto;
  }
  .group-5 > div,
  .group-4 > div
  {
    float: left;
  }
  // change width of items to fit 3 per row for 5 cards
  .group-5 > div
  {
    width: 33.33333%;
  }
  // change width of items to fit 2 per row for 4 cards
  .group-4 > div
  {
    width: 50%;
  }
  // push 4th item over in 5 card group to center it
  .group-5 > div:nth-child(4)
  {
    margin-left: 15%;
  }
  // un-shrink 4 card and 5 card padding
  .group-4 .card,
  .group-5 .card
  {
    padding: $md;
  }
  .group-5 > div
  {
    border-top: 0;
  }
}

@media(max-width: $tablet-breakpoint - 1)
{
  // break group-3
  .group-3
  {
    display: block;
    position: relative;
    overflow: auto;
  }

  .group-3 > div
  {
    float: left;
    width: 100%;
  }

  // 50% width group 5 and 3 (group 4 is already 50%)
  .group-5 > div
  {
    float: left;
    width: 50%;
  }
  // center the last card in group 3 and 5
  .group-5 > div:nth-child(5)
  {
    margin-left: 25%;
  }
  // un-center the second last card in group 5
  .group-5 > div:nth-child(4)
  {
    margin-left: 0;
  }
}

@media(max-width: $mobile-breakpoint)
{
  // full-width all cards
  .group > div
  {
    width: 100%;
  }
  // un-center all cards
  .group > div:nth-child(4),
  .group > div:nth-child(3),
  .group > div:nth-child(5)
  {
    margin-left: 0;
  }
}

@supports (display: grid)
{

  .group.cards
  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: $card-min-width)
    {
      // Each card should be a minimum width of the $card-min-width. Otherwise, take up available space
      grid-template-columns: repeat(auto-fit, minmax($card-min-width, 1fr));
    }
  }

  .group.cards .card
  {
    display: inline-grid;
    width: 100%;
    grid-template-rows: auto 1fr auto;
  }

  .group.cards .card-summary
  {
    height: auto;
  }

  .group-4.cards
  {
    @media (min-width: $desktop-breakpoint)
    {
      // Each card should take a minimum of 25% width of the group
      grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    }
  }

  .group-5.cards
  {
    @media (min-width: $tablet-breakpoint)
    {
      grid-template-columns: repeat(auto-fit, minmax(33.3%, 1fr));
    }
    @media (min-width: $desktop-breakpoint)
    {
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    }
  }

  .group-5.cards > div:nth-child(4),
  .group-5.cards > div:nth-child(5)
  {
    margin-left: 0;
  }

  .group-5.cards > div:nth-child(4)
  {
    @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint - 1px)
    {
      margin-left: 50%;
    }
  }

  .group-5.cards > div:nth-child(5)
  {
    @media (min-width: 700px) and (max-width: $desktop-breakpoint - 1px)
    {
      margin-left: 50%;
    }
  }
}
