// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

// CSS Utilities
//
// The classes in this file are intended for use via markdown extensions.
// As a result, many of them utilize !important to forcefully override layout
// and other components.

// Spacing /////////////////////////////////////////////////////////////////////

// The following classes make it easy to adjust margin/padding in markdown
//
// Format: `{$type}-{$direction}-{$length}`
//
// Type
// :   - `m`: `margin` - space outside of element border/background
//     - `p`: `padding` - space inside of element border/background
//
// Direction
// :   - `a`: `all` - all directions
//     - `x`: `x` - left and right
//     - `y`: `y` - top and bottom
//     - `t`: `top`
//     - `b`: `bottom`
//
// Length
// :    - `xl`: `extra large`
//      - `lg`: `large`
//      - `md`: `medium`
//      - `sm`: `small`
//      - `xs`: `extra small`
//      - `0`: `none`
//
// EG: @see includes/example/spacing.md

// for prop, abbrev in {'margin': 'm', 'padding': 'p'}
@each $prop, $abbrev in (margin: m, padding: p)
{
  // for size, lengths in spacers (see `_variables.scss`)
  @each $size, $lengths in $spacers
  {
    // get x and y value for size
    $length-x:   map-get($lengths, x);
    $length-y:   map-get($lengths, y);

    // define all, top, and bottom direction classes for size
    .#{$abbrev}-a-#{$size} { #{$prop}:        $length-y $length-x !important; }
    .#{$abbrev}-t-#{$size} { #{$prop}-top:    $length-y !important; }
    .#{$abbrev}-b-#{$size} { #{$prop}-bottom: $length-y !important; }

    // define x and y axes classes for size
    .#{$abbrev}-x-#{$size}
    {
      #{$prop}-right:  $length-x !important;
      #{$prop}-left:   $length-x !important;
    }
    .#{$abbrev}-y-#{$size}
    {
      #{$prop}-top:    $length-y !important;
      #{$prop}-bottom: $length-y !important;
    }
  }
}

// Sizing //////////////////////////////////////////////////////////////////////

// The following classes make it easy to adjust height in markdown
//
// EG: @see includes/example/sizing.md

.xl
{
  height: $xl !important;
}
.lg
{
  height: $lg !important;
}
.md
{
  height: $md !important;
}
.sm
{
  height: $sm !important;
}
.xs
{
  height: $xs !important;
}

// Backgrounds /////////////////////////////////////////////////////////////////

// The following classes make it easy to add a background color in markdown
// @see includes/examples/backgrounds.md

// One can easily apply this style using markdown via em
// EG: This is *error*{: .error } text.
em.bg-secondary,
em.bg-accent,
em.bg-error,
em.bg-info
{
  padding: 0 $xs;
}

.bg-secondary
{
  color: $secondary-fg;
  background-color: $secondary-bg;
}

.bg-gray,
.bg-info
{
  color: $info-fg;
  background-color: $info-bg;
}

.bg-accent
{
  color: $accent-fg;
  background-color: $accent-bg;
}

.bg-error
{
  color: $error-fg;
  background-color: $error-bg;
}

// hr background color is the color of the hr line
.bg-secondary hr,
.bg-accent hr
{
  background-color: $white;
}

// Foregrounds /////////////////////////////////////////////////////////////////

// The following classes make it easy to apply text colors in markdown
// EG: @see includes/example/foregrounds.md

.muted
{
  color: $gray-medium !important;
  border-color: $gray-medium !important;
}

.accent
{
  color: $green !important;
  border-color: $green !important;
}

.error
{
  color: $red !important;
  border-color: $red !important;
}

// allow use of foreground styles on em elements without italicizing
em.muted,
em.accent,
em.error,
em.bg-secondary,
em.bg-accent,
em.bg-error
{
  font-style: normal !important;
}

// Text alignment //////////////////////////////////////////////////////////////

// The following classes make it easy to apply text alignment in markdown
// EG: @see includes/example/alignment.md

html[dir="ltr"] .eol
{
  text-align: right !important;
}

html[dir="rtl"] .eol
{
  text-align: left !important;
}

html[dir="ltr"] .float-eol
{
  float: right !important;
}

html[dir="rtl"] .float-eol
{
  float: left !important;
}


.center
{
  text-align: center !important;
}

.subheading
{
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

// Image alignment /////////////////////////////////////////////////////////////

// The following classes make it easy to apply image alignment in markdown
// EG: @see includes/example/images.md

html[dir="ltr"] img.sol
{
  float: left !important;
  margin-right: $sm;
}

html[dir="rtl"] img.sol
{
  float: right !important;
  margin-left: $sm;
}

html[dir="ltr"] img.eol
{
  float: right !important;
  margin-left: $sm;
}

html[dir="rtl"] img.eol
{
  float: left !important;
  margin-right: $sm;
}

img.center
{
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
}

.no-wrap
{
  white-space: nowrap !important;
}

@media(max-width: $mobile-breakpoint - 1)
{
  .no-wrap-mobile
  {
    white-space: nowrap !important;
  }
}

// block is full width (see example)
.block
{
  display: block !important;
  width: 100% !important;
}

// use clearfixes to clear floating images (see example)
.clearfix::after
{
  display: table;
  clear: both;
  content: "";
}

// Embeds //////////////////////////////////////////////////////////////////////

// The following classes make it easy to embed youtube / html5 video
// EG: @see `includes/examples/video.md`

.embed
{
  display: block;
  position: relative;
  overflow: hidden;
  height: 0;
  padding: 0;
}

.embed iframe,
.embed video
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

// 16-9 aspect ratio
.embed-16-9
{
  padding-bottom: 56.25%;
}

// 4-3 aspect ratio
.embed-4-3
{
  padding-bottom: 75%;
}

// Screen reader ///////////////////////////////////////////////////////////////

// Use this class to add screen reader / web crawler only content
//
// EG:
// - An h1 for SEO that is not visible
// - A skip-to link for screen readers

.sr-only
{
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// Grid exceptions /////////////////////////////////////////////////////////////

@media(max-width: $desktop-breakpoint - 1)
{
  // col-3 & col-6 are available <= $tablet-breakpoint
  .col-6.expand-on-tablet,
  .col-3.expand-on-tablet
  {
    width: 100%;
  }
}
