// This file is part of acceptableads.org.
// Copyright (C) 2016-present eyeo GmbH
//
// acceptableads.org is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// acceptableads.org is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with acceptableads.org.  If not, see <http://www.gnu.org/licenses/>.

// Colors //////////////////////////////////////////////////////////////////////

// Shades

$white: #FFFFFF;
$gray: #E1E1E1;
$black: #161616;

// Basic colors

$red: #C70D2C;
$green: #8CC63E;

// Color shades

$gray-light: $gray;
$gray-medium: #9e9e9e;
$gray-dark: #292929;

$green-light: #8CC63E;
$green-medium: #52B043;
$green-dark: #007831;

// Brand colors

$primary: $white;
$primary-fg: $black;
$primary-bg: $white;

$inverted: $black;
$inverted-fg: $white;
$inverted-bg: $black;

$secondary: $gray-dark;
$secondary-fg: $white;
$secondary-bg: $gray-dark;

$accent: $green;
$accent-fg: $white;
$accent-bg: $green;

$info: $gray-light;
$info-fg: $black;
$info-bg: $gray-light;

$error: $red;
$error-fg: $white;
$error-bg: $red;

// Font sizes //////////////////////////////////////////////////////////////////

// For components

$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

// For headers

$font-size-h1: 42px;
$font-size-h2: 28px;
$font-size-h3: 22px;
$font-size-h4: $font-size-xl;
$font-size-h5: $font-size-lg;
$font-size-h6: $font-size-lg;

// Sizes ///////////////////////////////////////////////////////////////////////

$xl: 96px;
$lg: 64px;
$md: 32px;
$sm: 16px;
$xs: 8px;

// Spacers /////////////////////////////////////////////////////////////////////

$spacers: (
  na: (
    x: 0,
    y: 0
  ),
  xs: (
    x: $xs,
    y: $xs
  ),
  sm: (
    x: $sm,
    y: $sm
  ),
  md: (
    x: $md,
    y: $md
  ),
  lg: (
    x: $lg,
    y: $lg
  ),
  xl: (
    x: $xl,
    y: $xl
  )
) !default;

// Sidebar /////////////////////////////////////////////////////////////////////

$sidebar-width: 208px;
$mobile-sidebar-height: 64px;

// breadcrumbs /////////////////////////////////////////////////////////////////////

$breadcrumbs-height: 32px;

//Header
/////////////////////////////////////////////////////////////////////

$header-height: $mobile-sidebar-height + $breadcrumbs-height;

// Columns /////////////////////////////////////////////////////////////////////

$max-width: 1140px;
$gutter-width: $sm;

// Breakpoints /////////////////////////////////////////////////////////////////

$desktop-breakpoint: 992px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 544px;
$sidebar-breakpoint-x: $desktop-breakpoint + $sidebar-width;

// Placeholders ////////////////////////////////////////////////////////////////

// These make it easy to apply styles to all of the listed selectors.

h1, h2, h3, h4, h5, h6 .h1, .h2, .h3, .h4, .h5, .h6
{
  @extend %headings !optional;
}

:hover, :active
{
  @extend %active !optional;
}

.col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9
{
  @extend %columns !optional;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .btn-outline-primary, .btn-outline-accent, .btn-primary, .btn-accent
{
  @extend %buttons !optional;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .btn-primary
{
  @extend %default-button !optional;
}

// Cards //////////////////////////////////////////////////////////////////////

$card-min-width: 350px;
